div.arc-image-grid {
    background-color: blue;
    padding: 0;
    
    perspective: 1000;
}

div.arc-image-grid > div.flip {
    margin: 0;
    padding: 0;
    
    transition: 0.9s;
    transform-style: preserve-3d;
    
    position: relative;
    display: inline-block;
}

div.arc-image-grid > div.flip:hover {
    transform: rotateY(180deg);
}

div.arc-image-grid > div.flip > div {
    margin: 0;
    padding: 0;
    
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.arc-image-grid > div.flip > .front {
    background-color: dimgray;
    
    z-index: 2;
    transform: rotateY(0deg);
}

div.arc-image-grid > div.flip > .back {
    background-color: lightgreen;
    transform: rotateY(180deg);
}