
.awl-calendar-container {
	width: 250px;
 	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.awl-calendar-day {
	width: 35px;
	height: 25px;
	text-align: center;
}

.awl-date-content-main {
	height: 25px;
	margin-top: 10px;
}

.awl-date-content-footer {
	height: 4px;	
}

.awl-calendar-event {
	background-color: #ED1E79;
}

.awl-calendar-today {
	background-color: #F2ABC5;
}

#awl-calendar-month-container {
	width: 150px;
}

#awl-calendar-month-name {
	width: 70px;
	color: #70A5AC;
	float: left;
	text-align: center;
}

#awl-calendar-year-name {
	float: right;
	margin-right: 10px;
}

#awl-calendar-header {
	margin: 5px auto 5px auto;
}

#awl-calendar-body table {
	margin: 5px auto 5px auto;
}

.awl-calendar-month-button {
	color: #E8E3D7;
	float: left;
}

.awl-media-image {
	max-height: 100px;
	max-width: 100px;
}

.awl-calendar-bottom-row-dashed {
	border-bottom-style: dashed;
	border-width: 1px
}

/* Bootstrap modifications */

.popover{
    max-width: 400px; /* Max Width of the popover (depending on the container!) */
}

